body {
    font-family: 'Barlow Condensed', sans-serif;
}

.slider {
    position: relative;
}

.slider .slides-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media (any-pointer: coarse) {
    .slider .slides-container {
        overflow: auto;
    }
}

.slider .slides-container[data-pg-id] {
    overflow: auto;
}

.slider .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.slider .slider-controls {
}

.slider .slider-pagination {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 18px;
    right: 0;
}

.slider .slider-pagination-item {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.53);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 10px;
}

.slider .slider-pagination-item:first-child {
    margin-left: 0;
}

.slider .slider-control {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    display: inline-flex;
    border-radius: 50%;
    width: 40px;
    height: 60px;
    line-height: 1;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 2px;
    text-decoration: none;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}

.slider .slider-control:hover,
.slider .slider-control:focus {
    color: #000000;
}

.slider .slider-control.prev {
    left: 1rem;
}

.slider .slider-control.next {
    right: 1rem;
}

.slider .slide-img {
    height: 650px;
    width: 100%;
    //object-fit: cover;
    object-fit: none;
    object-position: 100px 10%;
    opacity: 0.5;
}

.slider .slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.slide .slide-subtitle {
    margin-bottom: 0;
}

.slide .slide-title {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.slide .slide-title > span {
    display: inline-block;
}

.slide .product-price {
    color: var(--red);
    font-weight: bold;
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
}

.slide .btn {
    padding: 0.5rem 2rem;
    font-weight: 500;
}

.slide .btn:hover {
    background-color: var(--red);
    color: white;
}